<div class="container">
    <div class="title-section">
        <h5>
            Article List
        </h5>

        <button class="btn btn-add btn-primary" (click)="goBack()">Go Back</button>
    </div>
    <div class="add-form">
        <form class="login-box" [formGroup]="articleForm" (ngSubmit)="submitForm()">
            <div class="form-row row">
                <div class="col-md-12">
                    <label>Name<span class="error-red">*</span></label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="title">
                        <div class="error" *ngIf="f.title.invalid && ( (f.title.dirty || f.title.touched))">
                            <div *ngIf="f.title.errors.required">
                                Title is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row row">
                <div class="col-md-6">
                    <label>Category<span class="error-red">*</span></label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="category">
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Author<span class="error-red">*</span></label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="author">
                    </div>
                </div>
            </div>

            <div class="fileupload">
                <!-- <label>
                    <input
                      type="file"
                      class="text-nowrap text-truncate"
                      (change)="selectFile($event)"
                    />
                  </label>

                <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                    Upload
                  </button> -->



                <div *ngIf="currentFileUpload" class="progress mt-2">
                    <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
                        {{ percentage }}%
                    </div>
                </div>
            </div>
            <div class="form-row row">
                <div class="image-upload">
                    <label for="file-input">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa0qEV_mEF19gs68CDaSmZ4e0kssbxyOAMbw&usqp=CAU"/>
                    </label>

                    <input id="file-input" type="file" (change)="selectFile($event)" />
                </div>
                <div class="col-md-12">
                    <label>Body<span class="error-red">*</span></label>
                    <div class="form-group">
                        <ckeditor #myckeditor [config]="config" data="<p>Some initial data</p>" type="classic" formControlName="body"></ckeditor>
                        <div class="error" *ngIf="f.body.invalid && ( (f.body.dirty || f.body.touched))">
                            <div *ngIf="f.body.errors.required">
                                Body is required.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-button">
                <button type="submit" class="btn btn-common  btn-success butn" [disabled]="!articleForm.valid">Save</button>
                <button type="button" class="btn btn-common  btn-danger butn" (click)="goBack()">Cancel</button>
            </div>

        </form>
    </div>
</div>