table {
    clear: both;
    margin-top: 6px!important;
    margin-bottom: 6px!important;
    max-width: none!important;
    border-collapse: separate!important;
    border-spacing: 0;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: #56595c;
}

table tbody td {
    color: #56595c;
}

table tbody tr:nth-child(2n) td {
    background-color: #edf4ff;
}

.list-section {
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 17%) !important;
    margin-bottom: 24px;
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
    border: 0;
    border-radius: .65rem;
    padding: 2em;
}

.table th {
    border-top: none;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 2px solid slategrey;
}

.btn-add {
    background-color: #2b3144;
    border-radius: 14px;
    border-color: #2b3144;
}

table td a {
    margin-right: 10px;
}

@media screen and (max-width:767px) {
    .list-section {
        padding: 1em 10px;
    }
    .title-section h5 {
        font-size: 20px;
    }
    table thead th,
    table tbody td {
        font-size: 14px;
    }
}