.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 2px solid slategrey;
}

.btn-add {
    background-color: #2b3144;
    border-radius: 14px;
    border-color: #2b3144;
}