<div class="footer footer-16371">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">

                <div class="social vertical-center">

                    <ul class="list-unstyled">

                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-whatsapp"></a>
                        <a href="#" class="fa fa-telegram"></a>
                        <a href="javascript:void(0)" class="fa fa-share-alt" (click)="shareLink()"></a>
                    </ul>
                </div>

            </div>

            <div class="col-lg-4 col-md-4 text-center vertical-center">
                <div class="social contact-us mb-4">
                    <h3>Contact us</h3>
                </div>

                <div class="contact-detail">

                    <p>
                        <i class="fa fa-envelope"></i> New Delhi, India
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>