<div class="footer footer-16371">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <div class="footer-site-logo mb-4">
                    <a href="#">Mastery</a>
                </div>
                <ul class="list-unstyled nav-links mb-5">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="social mb-4">
                    <h3>Stay in touch</h3>
                    <ul class="list-unstyled">

                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-google"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-instagram"></a>


                    </ul>
                </div>

            </div>

            <div class="col-lg-4 col-md-4 text-center vertical-center">
                <div class="social contact-us mb-4">
                    <h3>Contact us</h3>
                </div>

                <div class="contact-detail">
                    <p>
                        <i class="fa fa-map-marker"></i> New Delhi, India
                    </p>

                    <p>
                        <i class="fa fa-envelope"></i> New Delhi, India
                    </p>

                    <p>
                        <i class="fa fa-phone"></i> New Delhi, India
                    </p>
                </div>
            </div>
            <div class="copyright">
                <p class="mb-0"><small>© Colorlib. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>