<header class="main-header">

    <h1 class="main-navigation__title"><a href="/user">Blog Book</a></h1>
    <nav class="main-navigation__header-nav">
        <ul class="nav-links">
            <!-- <li>
                <a routerLinkActive="active" routerLink="/user/" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li> -->

            <li>
                <a routerLinkActive="active" routerLink="/user/article-list"> Article</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/user/video-list" [routerLinkActiveOptions]="{exact: true}"> Vidoes</a>
            </li>

            <li>
                <a routerLinkActive="active" routerLink="/user/book-list" [routerLinkActiveOptions]="{exact: true}"> Books</a>
            </li>

            <li>
                <a routerLinkActive="active" routerLink="/user/live-shows" [routerLinkActiveOptions]="{exact: true}"> Shows</a>
            </li>

            <!-- <li>
                <a routerLinkActive="active" routerLink="/admin/" [routerLinkActiveOptions]="{exact: true}"> Shows</a>
            </li> -->


            <li><button *ngIf="isAuthenticated" (click)="onLogout()">Logout </button></li>
        </ul>
    </nav>
    <div class="mobile-only-icon">
        <div class="icon" [ngClass]="isMenuOpen ? 'open' : 'closed'" (click)="openMenu()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>

</header>
<div class="headerMenu" *ngIf="isMenuOpen" class="headerMenu" [ngClass]="isMenuOpen? 'open':'closed'">
    <div class="Menu-heading"><span> Menu </span>
        <hr class="mb-0">
    </div>
    <div class="Menus">
        <nav>
            <ul id="navigation" (click)="openMenu()">
                <!-- <li>
                    <a routerLinkActive="active" routerLink="/admin/" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li> -->
                <!-- <li>
                    <a routerLinkActive="active" routerLink="/admin/user-list" [routerLinkActiveOptions]="{exact: true}"> Users</a>
                </li> -->
                <li>
                    <a routerLinkActive="active" routerLink="/user/article-list"> Article</a>
                </li>
                <li>
                    <a routerLinkActive="active" routerLink="/user/video-list" [routerLinkActiveOptions]="{exact: true}"> Vidoes</a>
                </li>

                <li>
                    <a routerLinkActive="active" routerLink="/user/book-list" [routerLinkActiveOptions]="{exact: true}"> Books</a>
                </li>

                <li>
                    <a routerLinkActive="active" routerLink="/user/live-shows" [routerLinkActiveOptions]="{exact: true}"> Shows</a>
                </li>
                <!-- <li>
                    <a routerLinkActive="active" routerLink="/admin/" [routerLinkActiveOptions]="{exact: true}"> Shows</a>
                </li> -->

                <li *ngIf="isAuthenticated"><button (click)="onLogout()">Logout </button></li>
            </ul>
        </nav>
    </div>
</div>